body {
    background-image: url("src/img/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 270px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    color: #fff;
    padding: 0 20px;
    text-align: right;
}

.container .img-tag{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container h1{
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 20px;
}

.container h2{
    font-size: 12px;
    font-weight: 100;
    margin-top: -10px;
}