.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container img {
  position: absolute;
  width: 100vw;
}

.container h1 { 
  font-size: 15rem;
  mix-blend-mode: overlay;
  font-family: 'Roboto', sans-serif;
}