body{
  background-color: #17181B;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.box > p{
  font-family: sans-serif;
  font-size: 110px;
  font-weight: 600;
  background: 
    linear-gradient(to right,#424679, #b321de, #4296d6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}